.footer {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(52, 48, 48);
    justify-content: center;
    display: flex;
    bottom: 0;
    position: absolute;
}

.footer-contain {
    margin: auto;
    grid-gap: 40px;
}

.center {
    display: flex;
    padding: 1rem;
    margin-top: 1.4rem;
}

.icon {
    display: flex;
    flex-direction: row;
}



