form {
    margin: 40px;
    padding: 40px;
}

input {
    display: flex;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    width: 25%;
    background-color: rgb(207, 204, 204);
    border-color: aliceblue;
}

/* .formControll {
    padding: 5%
} */

/* textarea {
    margin: 40px;
} */

textarea {
    /* display: flex; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    background-color: rgb(207, 204, 204);
    border-color: black;
}

#boot {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    background-color: rgb(207, 204, 204);
    border-color: black;
}
