.homebody {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  
  .homebody .content h1 {
    font-size: 3rem;
    padding: 0.5rem 0 1.4rem;
    text-shadow: 1.5px 1.5px 1.5px rgb(41, 40, 40);
    animation-name: appear;
    animation-duration: 2s;
  }


  .content h1 {
    /* font-size: 2.5rem; */
    text-shadow: 2.5px 2.5px 2.5px rgb(41, 40, 40);
    font-weight: 600;
    animation-name: appear;
    animation-duration: 2s;
  }


  .content .btn {
    margin-right: 2rem;
  }

@keyframes appear {
  from { transform: translateX(-40rem) }
  to { transform: translateY(0)}
}

@media screen and (max-width: 455px) {
  .homebody .content h1 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 0;
  }
  .homebody .content p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1008px) {
  @keyframes appear {
    from { tranfsorm: translateX(100rem) }
    to { transform: translateY(0)}
  }
}